<div class="layout-container">

  <!-- Navigation Menu -->
  <div class="menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">The Excellence</a></li>
      <li><a href="#">Links</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
  <!-- END of Navigation Menu -->

  <!-- Bootstrap First Impression -->
  <div class="container">
    <div class="jumbotron">
      <h1>Project Excellence</h1>
      <p>This is a sample project to serve as a simple exercise utilizing the ScollMagicJS library for Parallax scrolling in conjuction with the GreenSock animation framework.</p>
    </div>
  </div>
  <!-- End of Bootstrap First Impression -->

  <!-- Kitteh!! -->
  <div id="kitteh" width="400px" height="400px">
    <div id="trigger1" class="spacer s0"></div>
    <div id="trigger2" class="spacer s0"></div>
      <a href="http://anthonyplummer.elementfx.com">
        <img id="glasses" src="{{ directory }}/assets/images/deal-with-it.png">
        <img id="lit" src="{{ directory }}/assets/images/sticker.png">
      </a>
  </div>
  <!-- END Kitteh -->

  <header role="banner">
    {{ page.header }}
  </header>

  <!-- Main Content from Drupal -->
  <div class="container">
    <div class="col-md-12">
      <main role="main">
        <a id="main-content" tabindex="-1"></a>

        <div id="content" class="layout-content">
          {{ page.content }}
        </div>

      </main>
    </div>
  </div>
  <!-- END of Main Content from Drupal -->

  <!-- Moar Kitteh!! -->
  <div id="kitteh2" width="400px" height="400px">
  </div>
  <!-- END Moar Kitteh -->

  <!-- Haiku Block -->
  <div id="haiku" class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Whiskers</h3>
        <p>Black cat like magnet,</p>
        <p>attracts light material.</p>
        <p>Classic cat artwork.</p>
      </div>
      <div class="col-sm-4">
        <h3>The</h3>
        <p>The rule for today;</p>
        <p>touch my tail, I shred your hand.</p>
        <p>New rule tomorrow.</p>
      </div>
      <div class="col-sm-4">
        <h3>Cat</h3>
        <p>You're always typing.</p>
        <p>Well, let's see you ignore my</p>
        <p>sitting on your hands.</p>
      </div>
    </div>
  </div>
  <!-- END of Haiku Block -->

  <!-- Moar Kitteh!! -->
  <div id="kitteh3" width="400px" height="400px">
  </div>
  <!-- END Moar Kitteh -->

  <!-- Footer -->
  <div id="contact" class="row">
    <footer class="footer" role="contentinfo">
      {{ page.footer }}
      <!-- Footer Column 1 -->
      <div id="footerBlock" class="col-sm-3">
        <p>testing</p>
      </div>
      <!-- END of Footer Column 1 -->

      <!-- Footer Column 2 -->
      <div id="footerBlock" class="col-sm-3">
        <p>testing</p>
      </div>
      <!-- END of Footer Column 2 -->

      <!-- Footer Column 3 -->
      <div id="footerBlock" class="col-sm-3">
        <p>testing</p>
      </div>
      <!-- END of Footer Column 3 -->

      <!-- Footer Column 4 -->
      <div id="footerBlock" class="col-sm-3">
        <p>testing</p>
      </div>
      <!-- END of Footer Column 4 -->
    </footer>
  </div>
  <div class="row">
    <div id="bottom" class="col-sm-12">
      <p>Powered by <a href="http://anthonyplummer.elementfx.com">Excellence</a></p>
    </div>
  </div>
  <!-- END of Footer -->

</div>
