<div class="layout-container">
    <!-- Navigation Menu -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Excellence</a>
        </div>
        <ul class="nav navbar-nav topnav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#content">The Excellence</a></li>
          <li><a href="#">Links</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="icon">
            <a href="javascript:void(0);" onclick="myFunction()">☰</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- END of Navigation Menu -->

  <!-- Bootstrap First Impression -->
  <div class="container">
    <div class="jumbotron">
      <h1>Project Excellence</h1>
      <p>This is a sample project to serve as a simple exercise utilizing the ScollMagicJS library for Parallax scrolling in conjuction with the GreenSock animation framework.</p>
    </div>
  </div>
  <!-- End of Bootstrap First Impression -->

  <!-- Animation Triggers -->
  <div id="SGslideIn"></div>
  <div id="LitSlideIn"></div>
  <div id="SGslideOut"></div>
  <div id="LitSlideOut"></div>
  <!-- END of Animation Triggers -->

  <!-- Kitteh!! -->
  <div id="kitteh" width="400px" height="400px">
      <a href="http://anthonyplummer.elementfx.com">
        <img id="glasses" src="{{ directory }}/assets/images/deal-with-it.png">
        <img id="lit" src="{{ directory }}/assets/images/sticker.png">
      </a>
  </div>
  <!-- END Kitteh -->

  <header role="banner">
    {{ page.header }}
  </header>

  <!-- Main Content from Drupal -->
  <div class="container">
    <div class="col-md-12">
      <main role="main">
        <a id="main-content" tabindex="-1"></a>

        <div id="content" class="layout-content">
          {{ page.content }}
        </div>

      </main>
    </div>
  </div>
  <!-- END of Main Content from Drupal -->

  <!-- Moar Kitteh!! -->
  <div id="kitteh2" width="400px" height="400px">
  </div>
  <!-- END Moar Kitteh -->

  <!-- Haiku Block -->
  <div id="haiku" class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Whiskers</h3>
        <p>Black cat like magnet,</p>
        <p>attracts light material.</p>
        <p>Classic cat artwork.</p>
      </div>
      <div class="col-sm-4">
        <h3>The</h3>
        <p>The rule for today;</p>
        <p>touch my tail, I shred your hand.</p>
        <p>New rule tomorrow.</p>
      </div>
      <div class="col-sm-4">
        <h3>Cat</h3>
        <p>You're always typing.</p>
        <p>Well, let's see you ignore my</p>
        <p>sitting on your hands.</p>
      </div>
    </div>
  </div>
  <!-- END of Haiku Block -->

  <!-- Cat Photos -->
  <div class="container">
    <div class="row">
      <img src="{{ directory }}/assets/images/cats/puddin.jpg" id="Puddin" class="catPhoto-1 img img-rounded" alt="This is Puddin">
    </div>
  </div>

  <div class="container">
    <div class="row">
      <img src="{{ directory }}/assets/images/cats/neko.jpg" id="Neko" class="catPhoto-2 img img-circle" alt="This is Puddin">
    </div>
  </div>
  <!-- END of Cat Photos -->

  <!-- Moar Kitteh!! -->
  <div id="kitteh3" width="400px" height="400px">
  </div>
  <!-- END Moar Kitteh -->

  <!-- Footer -->
  <div class="container-fluid footer">
    <div id="contact" class="row">
      <footer role="contentinfo">
        {{ page.footer }}
        <!-- Footer Column 1 -->
        <div id="footerBlock" class="col-sm-3 round-block">
          <p>Anthony T. Plummer<br>
          Princeton, NJ 08540<br>
          Web Developer<br>
          <a href="mailto:aplummer@psda.com">E-Mail Me</a><br>
          <a href="anthonyplummer.elementfx.com">Website</a></p>
        </div>
        <!-- END of Footer Column 1 -->

        <!-- Footer Column 2 -->
        <div id="footerBlock" class="col-sm-3 round-block">
          <p>This.<br>
          Could.<br>
          Be.<br>
          Something.<br>
          Excellent!</p>
        </div>
        <!-- END of Footer Column 2 -->

        <!-- Footer Column 3 -->
        <div id="footerBlock" class="col-sm-3 round-block">
          <p>I was going to put another
          haiku here. Maybe a poem though?</p>
        </div>
        <!-- END of Footer Column 3 -->

        <!-- Footer Column 4 -->
        <div id="footerBlock" class="col-sm-3 round-block">
          <p>
            I'm only a cat,
            and we'll get along fine...
            As long as you know
            I'm not yours... you're all mine!
          </p>
          <p>
            -Author Unknown
          </p>
        </div>
        <!-- END of Footer Column 4 -->
      </footer>
    </div>
  </div>
  <!-- END of Footer -->

  <div class="row">
    <div id="bottom" class="col-sm-12">
      <p>Powered by <a href="http://anthonyplummer.elementfx.com">Excellence</a></p>
    </div>
  </div>

</div>
